{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Nova Senha - Dados Financeiros API" %}{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                {% trans "Digite sua nova senha" %}
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                {% trans "Por favor, digite sua nova senha duas vezes para verificarmos se você a digitou corretamente." %}
            </p>
        </div>
        <form class="mt-8 space-y-6" method="post">
            {% csrf_token %}
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="new_password1" class="sr-only">{% trans "Nova Senha" %}</label>
                    <input id="new_password1" name="new_password1" type="password" required
                           class="appearance-none rounded-t-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="{% trans 'Nova senha' %}">
                </div>
                <div>
                    <label for="new_password2" class="sr-only">{% trans "Confirmar Nova Senha" %}</label>
                    <input id="new_password2" name="new_password2" type="password" required
                           class="appearance-none rounded-b-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="{% trans 'Confirmar nova senha' %}">
                </div>
            </div>

            <div>
                <button type="submit"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    {% trans "Alterar minha senha" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %} 